body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 25px; /* Espacio entre los ítems del menú */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
}
.contenedor{
    display: flex;
    justify-content: center;
}
#id_titulo{
    display: flex;
    justify-content: center;
}
#id_mark{
    border: auto;
    border-radius: auto;
    margin: 1%;
    width: 25%;
}
#id_ELON{
    border: auto;
    border-radius: auto;
    margin: 1%;
    width: 25%;
}
#img{
    align-items: center;
    width: 100%;
}
